- var pe7_icon              = true;
- var select2               = true;
- var page_select2          = true;
- var sidebar_open          = true;
- var sweetalert2           = true;
- var datatable             = true;
- var err_handling          = true;
- var page_datatable        = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col-lg-6.main-header
                                    h2
                                      | Command Sets
                                    h6.mb-0 Define Allowed Command Sets
                                .col-lg-6.breadcrumb-right      
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='/users/groups')
                                         i.pe-7s-home
                                      li.breadcrumb-item.active keys
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12
                            .card.height-equal
                              .card-header
                                h5 Actions
                              .card-body
                                ul#pills-icontab.nav.nav-pills(role='tablist')
                                  li.nav-item
                                    a#pills-add-user-to-group-tab.nav-link.active(data-toggle='pill', href='#pills-add-user-to-group', role='tab', aria-controls='pills-add-user-to-group', aria-selected='true')
                                      i.icofont.icofont-terminal
                                      | Add Command to Command Set
                                  li.nav-item
                                    a#pills-add-group-tab.nav-link(data-toggle='pill', href='#pills-add-group', role='tab', aria-controls='pills-add-group', aria-selected='false')
                                      i.fa.fa-plus
                                      | Create Command Set
                                  li.nav-item
                                    a#pills-delete-group-tab.nav-link(data-toggle='pill', href='#pills-delete-group', role='tab', aria-controls='pills-delete-group', aria-selected='false')
                                      i.fa.fa-trash
                                      | Delete Command Set
                                #pills-icontabContent.tab-content
                                  #pills-add-user-to-group.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-add-user-to-group-tab')
                                    p.mb-0.m-t-30
                                        .select2-drpdwn
                                                form(method='POST' action='/utils/command-set-add-command').form.theme-form
                                                    .row
                                                        .col-sm-8
                                                            .mb-2
                                                                .col-form-label Select Command Set:
                                                                select.js-example-basic-single.col-sm-12(name='command_set' style="width: 100%" required)
                                                                    option(disabled selected) Select Command Set...
                                                                      if command_sets
                                                                          each c in command_sets
                                                                              option(value=c.name)=c.name
                                                            .mb-2
                                                                    .col-form-label Enter Command/Files Path:
                                                                    input.form-control(type='text', placeholder='Command Path...' name='command_path' required)
                                                            .mb-2
                                                                .col-form-label Access Mode:
                                                                select.js-example-basic-single.col-sm-12(name='access_mode' style="width: 100%" required)
                                                                    option(disabled selected) Select Access Mode...
                                                                    option(value="r") Read
                                                                    option(value="w") Write
                                                                    option(value="a") Append
                                                                    option(value="ux") Unconfined Execute
                                                                    option(value="Ux") Unconfined Execute - Scrub the Environment
                                                                    option(value="px") Discrete Profile Execute
                                                                    option(value="Px") Discrete Profile Execute - Scrub the Environment
                                                                    option(value="cx") Transition to Subprofile on Execute
                                                                    option(value="Cx") Transition to Subprofile on Execute - Scrub the Environment
                                                                    option(value="ix") Inherit Execute
                                                                    option(value="pix") Discrete Profile Execute with Inherit Fallback
                                                                    option(value="Pix") Discrete Profile Execute with Inherit Fallback - Scrub the Environment
                                                                    option(value="cix") Transition to subProfile on Execute with Inherit Fallback
                                                                    option(value="Cix") Transition to subProfile on Execute with Inherit Fallback - Scrub the Environment
                                                                    option(value="pux") Discrete Profile Execute with Fallback to unconfined
                                                                    option(value="PUx") Discrete Profile Execute with Fallback to unconfined - Scrub the Environment
                                                                    option(value="cux") Transition to subProfile on Execute with Fallback to Unconfined
                                                                    option(value="CUx") Transition to subProfile on Execute with Fallback to Unconfined - Scrub the Environment
                                                                    option(value="deny x") DisAllow Execute
                                                                    option(value="m") Allow PROT_EXEC with mmap(2) calls
                                                                    option(value="l") Link
                                                                    option(value="k") Lock
                                                            .mb-2
                                                                  br
                                                                  button.btn.btn-primary
                                                                      i.fa.fa-plus
                                                                      | &nbsp;Add to Command Set
                                                        .col-sm-4
                                                          br
                                                          br
                                                          .card
                                                               .card-body
                                                                h6 Access Mode:
                                                                .row.switch-showcase.height-equal
                                                                  .col-sm-12
                                                                    .media
                                                                      label.col-form-label.m-r-10 Allow
                                                                      .media-body.text-right.icon-state
                                                                        label.switch
                                                                          input.checkbox(type='checkbox' checked='' name="allow")
                                                                          span.switch-state
                                                                    .media
                                                                      label.col-form-label.m-r-10 Deny
                                                                      .media-body.text-right.icon-state
                                                                        label.switch
                                                                          input.checkbox(type='checkbox',  name="deny")
                                                                          span.switch-state
                                                                     
                                  #pills-add-group.tab-pane.fade(role='tabpanel', aria-labelledby='pills-add-group-tab')
                                    p.mb-0.m-t-30
                                        .select2-drpdwn
                                            form(method='POST' action='/utils/command-set-add')
                                                .mb-2
                                                    .col-form-label Enter New Command Set Name:
                                                    input.form-control(type='text', placeholder='Command Set Name ...' name='command_set_name' required)
                                                .mb-2
                                                    br
                                                    button.btn.btn-primary
                                                        i.fa.fa-plus 
                                                        | &nbsp;Add Command Set
                                      
                                  #pills-delete-group.tab-pane.fade(role='tabpanel', aria-labelledby='pills-delete-group-tab')
                                    p.mb-0.m-t-30
                                        .select2-drpdwn
                                            form(method='POST' action='/utils/command-sets-delete')
                                                .mb-2
                                                    .col-form-label Select Command Set:
                                                    select.js-example-basic-multiple.col-sm-12(name='command_sets' multiple='multiple' style="width: 100%" required)
                                                        if command_sets
                                                            each val in command_sets
                                                                option(value=val.name)=val.name
                                                .mb-2
                                                    br
                                                    button.btn.btn-danger
                                                        i.fa.fa-trash
                                                        | &nbsp; Delete Command Sets
                                                
                    if command_sets.length > 0
                        .row
                            .col-sm-12
                                .card.height-equal
                                  .card-header
                                    h5 Command Sets
                                  .card-body      
                                    div(id="accordion")
                                        each g in command_sets
                                            .card
                                                .card-header.card-body(id="heading"+g.name)
                                                    h5.card-title
                                                        button.btn.btn-lg.btn-link(data-toggle="collapse" data-target="#collapse"+g.name aria-expanded="true" aria-controls="collapse"+g.name)
                                                            Collapsible #{g.name}
                                                .collapse(id="collapse"+g.name aria-labelledby="heading"+g.name data-parent="#accordion")
                                                    .card-body
                                                        .table-responsive
                                                            if g.commands.length > 0
                                                                table(id="table"+g.name).display
                                                                    thead
                                                                        tr
                                                                            th Path
                                                                            th Access Mode
                                                                            th Delete
                                                                    tbody
                                                                        each c in g.commands
                                                                            tr
                                                                                td=c.path
                                                                                td=c.access_mode
                                                                                td
                                                                                    button.btn.btn-danger.fa.fa-trash(style="width: 100%" onclick="delete_command('"+c.path+"', '" + c.access_mode + "', '"+g.name+"');")
                                                            else
                                                                p
                                                                |    Command Set #{g.name} has no members yet 
                                                                
                                    
                            
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
        script(type='text/javascript').
            function delete_command(path, access_mode, command_set)
            {
                var form = $('<form action="/utils/command-set-delete-command" method="post">' +
                              '<input type="hidden" name="command_path" value='+path+'>'+
                              '<input type="hidden" name="command_set" value='+command_set+'>'+
                              '<input type="hidden" name="access_mode" value='+access_mode+'></form>');
                $('body').append(form);
                form.submit();
            }
            //only one check selected
            $('input.checkbox').on('change', function() {
                $('input.checkbox').not(this).prop('checked', false);  
            });
        each g in command_sets
            script(type='text/javascript').
                $('#table#{g.name}').DataTable({
                        "scrollX": false
                });
                
        

        
