- var pe7_icon              = true;
- var sidebar_open          = true;
- var sweetalert2           = true;
- var u2f_api               = true;
- var err_handling              = true;

doctype html
html(lang='en')
    include ../../components/header-files
    //pincodeInput
    link(rel='stylesheet', type='text/css', href='../../assets/css/bootstrap-pincode-input.css')
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col-lg-6.main-header
                                    h2
                                      | SSH Keys
                                      span
                                        | Self-service
                                    h6.mb-0 Manage your SSH keys
                                .col-lg-6.breadcrumb-right      
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='/home/keys')
                                         i.pe-7s-home
                                      li.breadcrumb-item.active keys
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12
                          .card
                            .card-header.card-body
                              h5 SSH keypair generation
                              span
                                | Please, use the following procedure to generate an RSA keypair:
                                ul
                                    li
                                        i.fa.fa-caret-right.txt-secondary.m-r-10 
                                        | #{sys_username}@localhost~> ssh-keygen -t rsa -b 4096 -C #{sys_username}
                                    li 
                                        i.fa.fa-caret-right.txt-secondary.m-r-10 
                                        | Paste below the content of your id_rsa.pub or drag & drop id_rsa.pub file
                          .card
                            .card-header
                                h5 Unlock SSH Public Key
                                span To starting access server via ssh unlock your SSH Key verifying identity through all authentication steps setted up
                            .card-body
                                .row
                                  .col-sm-6
                                     //GOTP CASES
                                     if !otp_verified && otp_enabled
                                      .card
                                        .card-header
                                            h5 Google authenticator
                                            span Insert below the OTP shown in google authenticator app
                                        .card-body
                                            .row
                                                .col-sm-2
                                                    img(src="../../assets/images/gotp-mini.png")
                                                .col-sm-10
                                                    input(type="text" name="otp" id="pincode-input")
                                     else if otp_verified 
                                      .card
                                        .card-header
                                            h5 Google Authenticator
                                            span You successfully verified your identity via OTP
                                        .card-body
                                            .row.justify-content-center
                                                .p-10 
                                                        img(src="../../assets/images/gotp-verified.png")
                                            .row.justify-content-center
                                                .p-10
                                                        button.btn.btn-pill.btn-success(disabled)
                                                            i.pe-7s-like2
                                                            | &nbsp;&nbsp;OTP Verified
                                             
                                     else if !otp_enabled 
                                      .card
                                        .card-header
                                            h5 Google Authenticator
                                            span Administrator disabled google authenticator for #{sys_username}
                                        .card-body
                                            .row.justify-content-center
                                                .p-10 
                                                        img(src="../../assets/images/gotp-disabled.png")
                                            .row.justify-content-center
                                                .p-10
                                                        button.btn.btn-pill.btn-danger(disabled)
                                                            i.pe-7s-like2
                                                            | &nbsp;&nbsp;OTP Disabled                   
                                  //end of GOTP cases
                                  //Hardware token verification status
                                  .col-sm-6
                                     if !token_verified && token_enabled
                                      .card
                                        .card-header
                                            h5 Hardware token
                                            span Insert registered token in a usb port and click the button below
                                        .card-body
                                            .row.justify-content-center
                                                .p-10 
                                                        img(src="../../assets/images/yubikey.png")
                                            .row.justify-content-center
                                                .p-10
                                                        button.btn.btn-pill.btn-primary(id="verify-button")
                                                            i.fa.fa-check
                                                            | &nbsp;&nbsp;Verify Token
                                     else if token_verified 
                                      .card
                                        .card-header
                                            h5 Hardware token verified
                                            span You successfully verified your identity via hardware token
                                        .card-body
                                            .row.justify-content-center
                                                .p-10 
                                                        img(src="../../assets/images/yubikey-verified.png")
                                            .row.justify-content-center
                                                .p-10
                                                        button.btn.btn-pill.btn-success(disabled)
                                                            i.pe-7s-like2
                                                            | &nbsp;&nbsp;Token Verified
                                     else if !otp_enabled 
                                      .card
                                        .card-header
                                            h5 Token Disabled
                                            span Administrator disabled token authentication for #{sys_username}
                                        .card-body
                                            .row.justify-content-center
                                                .p-10 
                                                        img(src="../../assets/images/yubikey-disabled.png")
                                            .row.justify-content-center
                                                .p-10
                                                        button.btn.btn-pill.btn-danger(disabled)
                                                            i.pe-7s-like2
                                                            | &nbsp;&nbsp;Token Disabled  
                          .card
                              if key_lock
                                if key_verified==key_enabled && otp_verified==otp_enabled
                                      .card-header
                                          h5.card-title Request Key unlock
                                          span You successfully verified all authentication factors, now you can unlock the key
                                      .card-body
                                          .row.justify-content-center
                                              .col-md-8
                                                  form(action="/utils/key-unlock" method="post").form.theme-form
                                                      button.form-control.btn.btn-pill.btn-primary
                                                          i.fa.fa-unlock
                                                          | &nbsp;&nbsp;Request Key Unlock
                                else
                                      .card-header
                                          h5.card-title Verify authentication factors 
                                          span You need to verify all the authentication factors above before being able to request a key unlock.
                                      .card-body
                                          .row.justify-content-center
                                              .col-md-8
                                                  form.form.theme-form
                                                      button.form-control.btn.btn-pill.btn-danger(disabled)
                                                          i.fa.fa-lock
                                                          | &nbsp;&nbsp;Request Key Unlock
                                  
                          .card
                                if !key_lock
                                    .card-header
                                        if sshPublicKey
                                            h5.card-title Update your SSH key
                                        else
                                            h5.card-title Paste your SSH key
                                    .card-body
                                        .col
                                            form(action="/utils/key-upload", method="POST").form.form-theme
                                                .form-group
                                                    textarea.form-control(name="pastedPubKey" rows="6")
                                                        |#{sshPublicKey}
                                                .row.justify-content-center
                                                    .form-group
                                                        input(type="hidden" name="uid" value=sys_username)
                                                        .col-lg-12
                                                            button.btn.btn-pill.btn-primary(type="submit")
                                                                if sshPublicKey
                                                                    i.pe-7s-refresh
                                                                    | &nbsp;&nbsp; Update key
                                                                else
                                                                    i.pe-7s-upload
                                                                    | &nbsp;&nbsp; Upload key
                                else 
                                    .card-header.card-body
                                        div.alert.alert-danger
                                            b Key Locked! 
                                            | Your key is locked, you won't be able to edit key or login via ssh until you unlock your key 
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
        script(src='../../assets/js/bootstrap-pincode-input.js')
        script(type='text/javascript').
            $("#verify-button").click(() => {
                if(window.u2f && window.u2f.sign) {
                    var decoded = $('<textarea />').html("#{sign_challenge}").text();
                    var authRequest = JSON.parse(decoded);
                        window.u2f.sign(authRequest.appId, authRequest.challenge, [authRequest], response => {
                            $.post("#{url}", { loginResponse: response }, data => {
                                if(data.errorCode) {
                                    alert("U2F failed with error: " + data.errorCode);
                                    return;
                                }
                            });
                            console.log(response)
                            var form = $('<form action="/utils/verify-token" method="post">' +
                                          '<input type="hidden" name="loginResponse" value='+JSON.stringify(response)+'></form>');
                            $('body').append(form);
                            form.submit();
                        });
                } else {
                    document.write("<p>U2F is not supported</p>");
                }
            });
            $('#pincode-input').pincodeInput({inputs:6,hidedigits:true,complete:function(value, e, errorElement){
                  let timerInterval
                  Swal.fire({
                    title: 'Unlocking key!',
                    text: 'processing...',
                    timer: 3000,
                    timerProgressBar: true,
                    onBeforeOpen: () => {
                      swal.showLoading()
                      timerInterval = setInterval(() => {
                        const content = Swal.getContent()
                        if (content) {
                          const b = content.querySelector('b')
                          if (b) {
                            b.textContent = Swal.getTimerLeft()
                          }
                        }
                      }, 100)
                      window.location.replace("/utils/verify-otp?otp="+value);
                    },
                    onClose: () => {
                      clearInterval(timerInterval)
                    }
                  })
            }});
        
